body{
    font-family: Arial, sans-serif;
}

.menu{
    display: flex;
    float: right;
    align-items: center;
}

.menu a{
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87); 
    padding-right: 15px;
}

.menu a:hover{
    text-decoration: underline;
}
.menu-image i{
    padding-right: 15px;
}

.dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;

}

.dropdown-content{
    display: none;
    width: 285px;
    padding: 11px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    position: absolute;
    right: -30px;
    top: 30px;
    /* z-index: 1; */
    border-radius: 2.5%;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.app-item{
    /* display: inline-block; */
    width: 45px;
    height: 57px;
    /* align-items: center; */
    margin: 4px 0;
    padding: 22px;
}
.app-item:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #e3edfe;
    border-radius: 5%;
}
.app-item > img{
    width: 50px;
    height: 50px;
}

.app-item > div{
    color: rgba(119, 29, 29, 0.87);
}

.menu img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.search .google{
    margin-top: 92px;
}
.input-container{
    width: 582px;
    color: #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px; 
    display: flex;
    align-items: center; 
}
.input-container:hover, .input-container:focus{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.input-container > i{
    height: 24px;
    width: 24px;
    padding: 0px 8px;
}
.input-container img{
    height: 24px;
    width: 24px;
    padding: 0 8px;
}

.input-container input{
    background-color: transparent;
    border: none;
    margin: 0;
    /* padding: 2px; */
    font-size: 16px;
    width: 83%;
    align-self: center;

}
.input-container input[type=text]:focus{
    border: none !important;
    outline: none;
}

.tooltip{
    position: relative;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 110px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -55px;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

.button-items{
    padding-top: 18px;
    display: block;
    text-align: -webkit-center;

}

 button{
    background-color:  #f2f2f2;
    color: #5F6368;    
    font-size: 14px;   
    height: 36px;   
    padding: 0 16px;   
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);   
    border: 1px solid transparent;   
    box-shadow: 0 1px 1px rgba(0,0,0,0);   
    color: #222;
    margin: 11px 4px;
 }
 button:hover{
    background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);  
    color: #222;
 }

 